{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-decorators",
    "react-hot-loader/babel",
    [
      "babel-plugin-styled-components",
      {
        "minify": false
      }
    ]
  ]
}